# Création d'une base de données a partir de données foncieres

## Preparation des données

Dans ce noteobok, on ira créer une base de données a partir d'un fichier simplifié qui presente la liste 
de transaction foncieres pour le premier semestre de l'année 2020. Le fichier a été traité avec Excel Power Query, 
pluseiurs colonnes presentantes de valeurs nuls ont été effacées et un colonne index a été ajoutée:
[DVF](DAN-P3-data_modif.csv)

On purrait en effet lire le fichier in un dateframe Pandas et le transferer sur Db2 avec la commande suivante : `%sql PERSIST`. Pour simplicité le fichier a eté precedemment telechargé sur le cloud IBM car de cette maniere la reconnaissance de types de données representées dans le colonnes du tableau sera meilleure.

## Connection à Db2

Pour nous permettre de nous connecter à la base, il faut nous installer les paquets suivants:

In [1]:
## pour les sql magics
##!pip install ipython-sql
## plugin necessaire pour la connection
!pip install ibm_db
!pip install ibm_db_sa
!pip install sqlalchemy
!pip install ipython-sql

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: ibm_db in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (3.0.2)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.3.5)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ibm_db_sa) (1.3.17)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ibm_db_sa) (3.0.2)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: sqlalchemy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.3.17)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (1.3.17)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (7.15.0)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 3.3 MB/s  eta 0:00:01
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (47.3.1.post20200622)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: jedi>=0.10 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.4)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13698 sha256=2b72a88c3b13eace653b96038b0390bb012145dacbe62b6942151c492e81981d
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/8c/76/0b/eb9eb3da7e2335e3577e3f96a0ae9f74f206e26457bd1a2bc8
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [2]:
import ibm_db

#import ibm_db_sa

On peut maintenant ouvrir la connection et ensuite rentrer les identifiants du compte Ibm:

In [3]:
%load_ext sql

In [4]:
# Enter your Db2 credentials in the connection string below
# Recall you created Service Credentials in Part III of the first lab of the course in Week 1
# i.e. from the uri field in the Service Credentials copy everything after db2:// (but remove the double quote at the end)
# for example, if your credentials are as in the screenshot above, you would write:
# %sql ibm_db_sa://my-username:my-pasµsword@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
# Note the ibm_db_sa:// prefix instead of db2://
# This is because JupyterLab's ipython-sql extension uses sqlalchemy (a python SQL toolkit)
# which in turn uses IBM's sqlalchemy dialect: ibm_db_sa
%sql ibm_db_sa://xhz26615:jrkdrws2rsbc%2B7x6@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

In [5]:
%%sql 
SELECT * FROM syscat.tables where tabschema = 'XHZ26615';

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('XHZ26615', 'ADRESSE', 'XHZ26615', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 4, 23, 11, 0, 23, 257212), datetime.datetime(2021, 4, 23, 11, 0, 23, 443423), datetime.datetime(2021, 4, 23, 11, 0, 23, 858432), datetime.datetime(2021, 4, 23, 11, 2, 31, 732110), 8, 5, 26, 30793, 77, 0, 77, -1, -1, -1, 0, 'xhz26615space1', None, None, 0, 1, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 80, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 4, 23, 11, 0, 23, 257212), 0, ' ', None, None, 'N', 'XHZ26615', ' ', ' ', ' ', datetime.date(2021, 4, 24), ' ', 'N', 'R', 'N', -1.0, None),
 ('XHZ26615', 'BIENIMMO', 'XHZ26615', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 4, 23, 11, 0, 23, 459843), datetime.datetime(2021, 4, 23, 11, 0, 23, 859649), datetime.datetime(2021, 4, 23, 11, 0, 23, 900635), datetime.datetime(2021, 4, 23, 11, 2, 31, 768705), 5, 6, 26, 34160, 47, 0, 47, -1, -1, -1, 0, 'xhz26615space1', None, None, 1, 1, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 44, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 4, 23, 11, 0, 23, 459843), 0, ' ', None, None, 'N', 'XHZ26615', ' ', ' ', ' ', datetime.date(2021, 4, 24), ' ', 'N', 'R', 'N', -1.0, None),
 ('XHZ26615', 'MUTATION', 'XHZ26615', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 4, 23, 11, 0, 23, 643317), datetime.datetime(2021, 4, 23, 11, 0, 23, 905005), datetime.datetime(2021, 4, 23, 11, 0, 23, 905015), datetime.datetime(2021, 4, 23, 11, 8, 50, 66), 4, 7, 26, 34169, 29, 0, 29, -1, -1, -1, 0, 'xhz26615space1', None, None, 1, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 27, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 4, 23, 11, 0, 23, 643317), 0, ' ', None, None, 'N', 'XHZ26615', ' ', ' ', ' ', datetime.date(2021, 4, 24), ' ', 'N', 'R', 'N', -1.0, None),
 ('XHZ26615', 'DVF', 'XHZ26615', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 4, 23, 8, 18, 9, 500237), datetime.datetime(2021, 4, 23, 10, 51, 33, 856524), datetime.datetime(2021, 4, 23, 10, 51, 33, 856532), datetime.datetime(2021, 4, 23, 10, 57, 31, 568857), 20, 4, 26, 34169, 148, 0, 149, -1, -1, -1, 0, 'xhz26615space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 150, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 4, 23, 8, 18, 9, 500237), 0, ' ', None, None, 'N', 'XHZ26615', ' ', ' ', ' ', datetime.date(2021, 4, 23), ' ', 'N', 'R', 'N', -1.0, None)]

## Creation des tables et insertion des données

Maintenant on peut créer les tables de notre base de données, qu'on a precedemment modelisé de la manière suivante:

![MPD](MPD_DVF.jpg)

In [13]:
%%sql


CREATE TABLE adresse (
                id INTEGER NOT NULL,
                commune VARCHAR(30) NOT NULL,
                no_voie VARCHAR(5),
                btq VARCHAR(1),
                type_voie VARCHAR(4),
                voie VARCHAR(30) NOT NULL,
                code_postal VARCHAR(5),
                code_dep VARCHAR(3) NOT NULL,
                CONSTRAINT adresse_pk PRIMARY KEY (id)
);


CREATE TABLE bienimmo (
                id INTEGER NOT NULL,
                type_local VARCHAR(20) NOT NULL,
                n_pieces INTEGER NOT NULL,
                surface_carrez FLOAT NOT NULL,
                adresse_id INTEGER NOT NULL,
                CONSTRAINT bienimmo_pk PRIMARY KEY (id)
);


CREATE TABLE mutation (
                id INTEGER NOT NULL,
                bien_id INTEGER NOT NULL,
                valeur INTEGER,
                date_mutation DATE NOT NULL,
                CONSTRAINT mutation_pk PRIMARY KEY (id, bien_id)
);


ALTER TABLE bienimmo ADD CONSTRAINT adresse_bien_fk
FOREIGN KEY (adresse_id)
REFERENCES adresse (id)
ON DELETE NO ACTION
ON UPDATE NO ACTION;

ALTER TABLE mutation ADD CONSTRAINT bien_mutation_fk
FOREIGN KEY (bien_id)
REFERENCES bienimmo (id)
ON DELETE NO ACTION
ON UPDATE NO ACTION;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Exception('Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name "XHZ26615.DEPARTEMENT" of type "TABLE".  SQLSTATE=42710 SQLCODE=-601')
[SQL: CREATE TABLE departement (
                code VARCHAR(10) NOT NULL,
                CONSTRAINT departement_pk PRIMARY KEY (code)
);]
(Background on this error at: http://sqlalche.me/e/f405)

Verifions maintenant nos tables:

In [6]:
%%sql 
SELECT * FROM syscat.tables where tabschema = 'XHZ26615';

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('XHZ26615', 'ADRESSE', 'XHZ26615', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 4, 23, 11, 0, 23, 257212), datetime.datetime(2021, 4, 23, 11, 0, 23, 443423), datetime.datetime(2021, 4, 23, 11, 0, 23, 858432), datetime.datetime(2021, 4, 23, 11, 2, 31, 732110), 8, 5, 26, 30793, 77, 0, 77, -1, -1, -1, 0, 'xhz26615space1', None, None, 0, 1, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 80, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 4, 23, 11, 0, 23, 257212), 0, ' ', None, None, 'N', 'XHZ26615', ' ', ' ', ' ', datetime.date(2021, 4, 24), ' ', 'N', 'R', 'N', -1.0, None),
 ('XHZ26615', 'BIENIMMO', 'XHZ26615', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 4, 23, 11, 0, 23, 459843), datetime.datetime(2021, 4, 23, 11, 0, 23, 859649), datetime.datetime(2021, 4, 23, 11, 0, 23, 900635), datetime.datetime(2021, 4, 23, 11, 2, 31, 768705), 5, 6, 26, 34160, 47, 0, 47, -1, -1, -1, 0, 'xhz26615space1', None, None, 1, 1, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 44, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 4, 23, 11, 0, 23, 459843), 0, ' ', None, None, 'N', 'XHZ26615', ' ', ' ', ' ', datetime.date(2021, 4, 24), ' ', 'N', 'R', 'N', -1.0, None),
 ('XHZ26615', 'MUTATION', 'XHZ26615', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 4, 23, 11, 0, 23, 643317), datetime.datetime(2021, 4, 23, 11, 0, 23, 905005), datetime.datetime(2021, 4, 23, 11, 0, 23, 905015), datetime.datetime(2021, 4, 23, 11, 8, 50, 66), 4, 7, 26, 34169, 29, 0, 29, -1, -1, -1, 0, 'xhz26615space1', None, None, 1, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 27, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 4, 23, 11, 0, 23, 643317), 0, ' ', None, None, 'N', 'XHZ26615', ' ', ' ', ' ', datetime.date(2021, 4, 24), ' ', 'N', 'R', 'N', -1.0, None),
 ('XHZ26615', 'DVF', 'XHZ26615', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 4, 23, 8, 18, 9, 500237), datetime.datetime(2021, 4, 23, 10, 51, 33, 856524), datetime.datetime(2021, 4, 23, 10, 51, 33, 856532), datetime.datetime(2021, 4, 23, 10, 57, 31, 568857), 20, 4, 26, 34169, 148, 0, 149, -1, -1, -1, 0, 'xhz26615space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 150, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 4, 23, 8, 18, 9, 500237), 0, ' ', None, None, 'N', 'XHZ26615', ' ', ' ', ' ', datetime.date(2021, 4, 23), ' ', 'N', 'R', 'N', -1.0, None)]

On peut remarquer que a DVF (la table "source") qu'on a precedemment telechargé, on voit les 4 tables faisant partie de notre modèle.

### Insertion des données

In [15]:
%%sql
INSERT INTO BIENIMMO
SELECT DISTINCT "id_bien", "type_local", "n_pieces", "surf_carrez", "id_localisation"
FROM DVF;

INSERT INTO MUTATION
SELECT DISTINCT "id_transaction", "id_bien", "valeur", "date_mut"
FROM DVF;

INSERT INTO ADRESSE
SELECT DISTINCT "id_localisation", "commune", "no_voie", "b_t_q", "type_voie", "voie", "code_postal", "code_dep"
FROM DVF;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Exception('Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0117N  The number of values assigned is not the same as the number of specified or implied columns or variables.  SQLSTATE=42802 SQLCODE=-117')
[SQL: INSERT INTO DEPARTEMENT SELECT DISTINCT "Code_departement"
FROM DVF;]
(Background on this error at: http://sqlalche.me/e/f405)

In [8]:
%sql SELECT * FROM syscat.columns WHERE tabname = 'BIENIMMO'

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('XHZ26615', 'BIENIMMO', 'ID', 0, 'SYSIBM  ', 'INTEGER', 4, 0, None, None, None, 'N', 0, None, None, ' ', ' ', 34160, '34159', '2', 4, 1, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('XHZ26615', 'BIENIMMO', 'TYPE_LOCAL', 1, 'SYSIBM  ', 'VARCHAR', 20, 0, 'OCTETS', 20, None, 'N', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 2, "'Maison'", "'Appartement'", 15, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 11, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('XHZ26615', 'BIENIMMO', 'N_PIECES', 2, 'SYSIBM  ', 'INTEGER', 4, 0, None, None, None, 'N', 0, None, None, ' ', ' ', 12, '10', '1', 4, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('XHZ26615', 'BIENIMMO', 'SURFACE_CARREZ', 3, 'SYSIBM  ', 'DOUBLE', 8, 0, None, None, None, 'N', 0, None, None, ' ', ' ', 3328, '+4.93600000000000E+003', '+5.00000000000000E-001', 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('XHZ26615', 'BIENIMMO', 'ADRESSE_ID', 4, 'SYSIBM  ', 'INTEGER', 4, 0, None, None, None, 'N', 0, None, None, ' ', ' ', 30793, '30792', '2', 4, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None)]

## Requetes

1) Total d'appartements vendus dans le 1er semestre:

In [9]:
%%sql SELECT  COUNT(*)
  FROM BIENIMMO B  JOIN MUTATION
  ON B.ID = BIEN_ID
  WHERE TYPE_LOCAL  = 'Appartement';

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('31378'),)]

2. Pourcentage d'appartements par n pieces:

In [66]:
%%sql
SELECT N_PIECES, CAST(COUNT(*) /(
  SELECT  COUNT(*)
  FROM BIENIMMO B JOIN MUTATION
  ON B.ID = BIEN_ID
  WHERE TYPE_LOCAL  LIKE  'Appartement') *100 AS DECIMAL(5,2))  AS POURCENTAGE
  FROM BIENIMMO  B JOIN MUTATION
  ON B.ID = BIEN_ID
  WHERE TYPE_LOCAL LIKE 'Appartement'
  GROUP BY N_PIECES
  ORDER BY POURCENTAGE DESC;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(2, Decimal('31.17')),
 (3, Decimal('28.57')),
 (1, Decimal('21.47')),
 (4, Decimal('14.21')),
 (5, Decimal('3.55')),
 (6, Decimal('0.65')),
 (7, Decimal('0.17')),
 (0, Decimal('0.09')),
 (8, Decimal('0.05')),
 (9, Decimal('0.02')),
 (10, Decimal('0.00')),
 (11, Decimal('0.00'))]

3. Liste des 10 departements avec le prix au m2 plus elevé:

In [11]:
%%sql
  SELECT CODE_DEP, CAST(AVG(VALEUR/SURFACE_CARREZ) AS INTEGER) AS PRIX_M2
  FROM ADRESSE A JOIN BIENIMMO B 
  ON  A.ID = ADRESSE_ID JOIN MUTATION M
  ON B.ID = BIEN_ID
  GROUP BY CODE_DEP
  ORDER BY PRIX_M2 DESC
  LIMIT 10;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('75', 12052),
 ('92', 7219),
 ('94', 5343),
 ('6', 4700),
 ('74', 4667),
 ('93', 4344),
 ('78', 4225),
 ('69', 4059),
 ('2A', 4026),
 ('33', 3764)]

4. Prix moyen au m2 d'une maison en Ile de France:

In [13]:
%%sql
SELECT
   CAST(AVG(VALEUR/SURFACE_CARREZ) AS INTEGER) AS PRIX_MOYEN_M2_MAISON_ILE_DE_FRANCE
  FROM BIENIMMO b JOIN MUTATION m  ON b.id= bien_id JOIN ADRESSE a ON adresse_id = a.id
  WHERE CODE_DEP IN ('75' , '77' ,  '78' , '91' , '92' , '93' , '94' , '95' )
  AND TYPE_LOCAL = 'Maison';

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(3745,)]

5. Le 10 appartements les plus chers:

In [63]:
%%sql
  SELECT B.ID, COMMUNE, CODE_DEP, SURFACE_CARREZ, VALEUR
  FROM BIENIMMO B JOIN ADRESSE A ON ADRESSE_ID = A.ID
  JOIN MUTATION ON B.ID = BIEN_ID
  WHERE TYPE_LOCAL = 'Appartement' AND VALEUR IS NOT NULL
  ORDER BY VALEUR DESC
  LIMIT 10;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(117, 'PARIS 16', '75', 9.1, 9000000),
 (20755, 'CORBEIL ESSONNES', '91', 64.0, 8600000),
 (31342, 'PARIS 07', '75', 20.55, 8577713),
 (11712, 'PARIS 17', '75', 42.77, 7620000),
 (31080, 'PARIS 06', '75', 253.3, 7600000),
 (29909, 'PARIS 01', '75', 139.9, 7535000),
 (31361, 'PARIS 16', '75', 360.95, 7420000),
 (31351, 'PARIS 16', '75', 595.0, 7200000),
 (31344, 'PARIS 01', '75', 122.56, 7050000),
 (24324, 'PARIS 01', '75', 79.38, 6600000)]

6. Taux d'evolution des ventes entre le premier et le deuxieme trimestre 2020:

In [65]:
%%sql
WITH sub AS (
SELECT
  COUNT(
  CASE WHEN DATE_MUTATION > '2020-03-31' THEN 1 END ) /
  COUNT(CASE WHEN DATE_MUTATION  <= '2020-03-31' THEN 1 END) - 1 AS taux_ev_ventes
  FROM MUTATION) SELECT CAST(taux_ev_ventes *100 AS DECIMAL (3,2)) as taux_evolution_ventes_1er_2eme_trimestre FROM sub ;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('3.67'),)]

7. Liste des communes où le taux d’évolution des ventes est supérieur à 20 % entre le premier et le second trimestre de 2020

In [67]:
%%sql
WITH sub AS (SELECT COMMUNE, COUNT(
  CASE WHEN DATE_MUTATION > '2020-03-31' THEN 1 END ) /
  NULLIF(
  COUNT(CASE WHEN DATE_MUTATION   <= '2020-03-31' THEN 1 END),0) - 1 AS tev
  FROM MUTATION M, BIENIMMO B, ADRESSE A
  WHERE BIEN_ID = B.ID AND ADRESSE_ID = A.ID
  GROUP BY COMMUNE
  ORDER BY tev DESC)
SELECT commune, CAST(tev * 100 AS DECIMAL(7,2)) as taux_ev_ventes FROM sub WHERE tev > 0.20;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('PAU', Decimal('2500.00')),
 ('CAVAILLON', Decimal('1600.00')),
 ('L ISLE SUR LA SORGUE', Decimal('1200.00')),
 ('LE DEVOLUY', Decimal('1000.00')),
 ('MORLAIX', Decimal('1000.00')),
 ('LYON 8EME', Decimal('960.00')),
 ('LYON 7EME', Decimal('800.00')),
 ('RONCHIN', Decimal('800.00')),
 ('CHALON-SUR-SAONE', Decimal('766.66')),
 ('ROUEN', Decimal('716.66')),
 ('LUCE', Decimal('700.00')),
 ('LYON 3EME', Decimal('609.09')),
 ('LAMBALLE-ARMOR', Decimal('600.00')),
 ('LAMORLAYE', Decimal('600.00')),
 ('LONS', Decimal('600.00')),
 ('MACON', Decimal('600.00')),
 ('ORANGE', Decimal('600.00')),
 ('PERRAY-EN-YVELINES (LE)', Decimal('600.00')),
 ('RETHEL', Decimal('600.00')),
 ('BELLEVILLE-EN-BEAUJOLAIS', Decimal('500.00')),
 ('VETRAZ-MONTHOUX', Decimal('500.00')),
 ("AIRE-SUR-L'ADOUR", Decimal('400.00')),
 ('CHAPELLE-SUR-ERDRE (LA)', Decimal('400.00')),
 ('CHAUMONT', Decimal('400.00')),
 ('FLEURY-MEROGIS', Decimal('400.00')),
 ('LE CREUSOT', Decimal('400.00')),
 ('LE PALAIS', Decimal('400.00')),
 ('LE PLESSIS BELLEVILLE', Decimal('400.00')),
 ('LES HOUCHES', Decimal('400.00')),
 ('NOGENT-LE-ROI', Decimal('400.00')),
 ('ORCIERES', Decimal('400.00')),
 ('PIERRE BENITE', Decimal('400.00')),
 ('PONT ST ESPRIT', Decimal('400.00')),
 ('SAINT CYR SUR LOIRE', Decimal('400.00')),
 ('VERNON', Decimal('400.00')),
 ('VILLENEUVE SUR LOT', Decimal('400.00')),
 ('VILLENOY', Decimal('400.00')),
 ('VOREPPE', Decimal('400.00')),
 ('MONTELIMAR', Decimal('375.00')),
 ('ABBEVILLE', Decimal('350.00')),
 ('CALAIS', Decimal('350.00')),
 ('SAINT-ANDRE-DE-CUBZAC', Decimal('350.00')),
 ('MEYZIEU', Decimal('333.33')),
 ('CAVALAIRE-SUR-MER', Decimal('300.00')),
 ('CHANTELOUP-LES-VIGNES', Decimal('300.00')),
 ('CONCARNEAU', Decimal('300.00')),
 ('CREST', Decimal('300.00')),
 ('GRAND QUEVILLY (LE)', Decimal('300.00')),
 ('JANZE', Decimal('300.00')),
 ('LA TESTE-DE-BUCH', Decimal('300.00')),
 ('LE PLESSIS PATE', Decimal('300.00')),
 ('LEVENS', Decimal('300.00')),
 ('LEZIGNAN-CORBIERES', Decimal('300.00')),
 ('PERENCHIES', Decimal('300.00')),
 ('PIERRELATTE', Decimal('300.00')),
 ('PLERIN', Decimal('300.00')),
 ('SAINT-MARTIN-LE-VINOUX', Decimal('300.00')),
 ('VITRE', Decimal('300.00')),
 ('VALENCIENNES', Decimal('275.00')),
 ('ST FONS', Decimal('266.66')),
 ('APT', Decimal('250.00')),
 ('LA PLAGNE TARENTAISE', Decimal('250.00')),
 ('MENDE', Decimal('250.00')),
 ('TANINGES', Decimal('250.00')),
 ('REIMS', Decimal('240.62')),
 ('DUCOS', Decimal('233.33')),
 ('DINAN', Decimal('228.57')),
 ('BEZIERS', Decimal('225.00')),
 ('LE PRADET', Decimal('225.00')),
 ('OULLINS', Decimal('220.00')),
 ('AUBERGENVILLE', Decimal('200.00')),
 ('AUCH', Decimal('200.00')),
 ('AVRANCHES', Decimal('200.00')),
 ('BALMA', Decimal('200.00')),
 ('BETHENY', Decimal('200.00')),
 ('BOIS GUILLAUME', Decimal('200.00')),
 ('BOLQUERE', Decimal('200.00')),
 ('CANCALE', Decimal('200.00')),
 ('CASTELNAU LE LEZ', Decimal('200.00')),
 ('CASTELNAUDARY', Decimal('200.00')),
 ('CHATEAUBRIANT', Decimal('200.00')),
 ('CHATEAUDUN', Decimal('200.00')),
 ('CORRENCON-EN-VERCORS', Decimal('200.00')),
 ('COUBRON', Decimal('200.00')),
 ('COYE LA FORET', Decimal('200.00')),
 ('CREGY-LES-MEAUX', Decimal('200.00')),
 ('DOUSSARD', Decimal('200.00')),
 ('EYBENS', Decimal('200.00')),
 ('GAP', Decimal('200.00')),
 ('GENAS', Decimal('200.00')),
 ('GIVET', Decimal('200.00')),
 ('HALLUIN', Decimal('200.00')),
 ('LA CHAUSSEE SAINT VICTOR', Decimal('200.00')),
 ('LA SALLE', Decimal('200.00')),
 ('LA-VOULTE-SUR-RHONE', Decimal('200.00')),
 ('LANGON', Decimal('200.00')),
 ('LANTON', Decimal('200.00')),
 ('LE PIN', Decimal('200.00')),
 ('LORGUES', Decimal('200.00')),
 ('LOUVRES', Decimal('200.00')),
 ('LYON 6EME', Decimal('200.00')),
 ('MONTAIGU-VENDEE', Decimal('200.00')),
 ('MONTEUX', Decimal('200.00')),
 ('MUREAUX (LES)', Decimal('200.00')),
 ('PERTUIS', Decimal('200.00')),
 ('PUGET-SUR-ARGENS', Decimal('200.00')),
 ('RAISMES', Decimal('200.00')),
 ('REAU', Decimal('200.00')),
 ('ROMORANTIN-LANTHENAY', Decimal('200.00')),
 ('RUELLE-SUR-TOUVRE', Decimal('200.00')),
 ('SAINT CYR AU MONT D OR', Decimal('200.00')),
 ('SAINT LAURENT MEDOC', Decimal('200.00')),
 ('SAINT-JEAN-LE-BLANC', Decimal('200.00')),
 ('SAINT-MARTIN-VESUBIE', Decimal('200.00')),
 ('SAINT-QUAY-PORTRIEUX', Decimal('200.00')),
 ('SAINTE LUCE', Decimal('200.00')),
 ('SARRIANS', Decimal('200.00')),
 ('SENS', Decimal('200.00')),
 ('SERIGNAN', Decimal('200.00')),
 ('ST ORENS DE GAMEVILLE', Decimal('200.00')),
 ('TIGERY', Decimal('200.00')),
 ('TOUL', Decimal('200.00')),
 ('TREILLIERES', Decimal('200.00')),
 ('VALMEINIER', Decimal('200.00')),
 ('VILLENNES-SUR-SEINE', Decimal('200.00')),
 ('WITRY-LES-REIMS', Decimal('200.00')),
 ('FECAMP', Decimal('183.33')),
 ('LORIENT', Decimal('181.25')),
 ('NIORT', Decimal('180.00')),
 ('CENON', Decimal('177.77')),
 ('CHAMROUSSE', Decimal('175.00')),
 ('MONT-SAINT-AIGNAN', Decimal('175.00')),
 ('LA GRANDE MOTTE', Decimal('166.66')),
 ('MONTARGIS', Decimal('166.66')),
 ('PETIT QUEVILLY (LE)', Decimal('166.66')),
 ('TINQUEUX', Decimal('166.66')),
 ('HOUILLES', Decimal('162.50')),
 ('ABLON-SUR-SEINE', Decimal('160.00')),
 ('LE BOUSCAT', Decimal('160.00')),
 ('AVIGNON', Decimal('155.55')),
 ('CHELLES', Decimal('153.33')),
 ('BARCELONNETTE', Decimal('150.00')),
 ('BASSENS', Decimal('150.00')),
 ('CHATEAUNEUF S LOIRE', Decimal('150.00')),
 ('CONDRIEU', Decimal('150.00')),
 ('COUZON-AU-MONT-D OR', Decimal('150.00')),
 ('LARMOR-PLAGE', Decimal('150.00')),
 ('LE TOUQUET PARIS PLAGE', Decimal('150.00')),
 ('MAGNY-LES-HAMEAUX', Decimal('150.00')),
 ('PONTARLIER', Decimal('150.00')),
 ('QUIMPERLE', Decimal('150.00')),
 ('SAINT BREVIN LES PINS', Decimal('150.00')),
 ('SAINT DIE DES VOSGES', Decimal('150.00')),
 ('SAINT-LARY-SOULAN', Decimal('150.00')),
 ('SAINTE-LUCE-SUR-LOIRE', Decimal('150.00')),
 ('VILLARD-BONNOT', Decimal('150.00')),
 ('VILLEURBANNE', Decimal('144.82')),
 ('LIBOURNE', Decimal('140.00')),
 ('SAINT-BRIEUC', Decimal('138.88')),
 ('ARCUEIL', Decimal('137.50')),
 ('NARBONNE', Decimal('136.00')),
 ('GOUSSAINVILLE', Decimal('133.33')),
 ('HENNEBONT', Decimal('133.33')),
 ('MANIGOD', Decimal('133.33')),
 ('THIAIS', Decimal('133.33')),
 ('VOIRON', Decimal('133.33')),
 ('DAMMARIE LES LYS', Decimal('128.57')),
 ('ARMENTIERES', Decimal('125.00')),
 ('BEZONS', Decimal('125.00')),
 ('DRAGUIGNAN', Decimal('125.00')),
 ('FONTAINE', Decimal('125.00')),
 ('LE BOURGET', Decimal('125.00')),
 ('SAINTE MAXIME', Decimal('125.00')),
 ('VENISSIEUX', Decimal('125.00')),
 ('ARPAJON', Decimal('122.22')),
 ('CHENNEVIERES SUR MARNE', Decimal('122.22')),
 ('MAUREPAS', Decimal('109.09')),
 ('CHAMPIGNY-SUR-MARNE', Decimal('108.69')),
 ('TOULON', Decimal('108.47')),
 ('REZE', Decimal('108.33')),
 ('AGDE', Decimal('104.54')),
 ('ALENCON', Decimal('100.00')),
 ('AMPUIS', Decimal('100.00')),
 ('ANCENIS-SAINT-GEREON', Decimal('100.00')),
 ('ANGLET', Decimal('100.00')),
 ('ANNEMASSE', Decimal('100.00')),
 ('ARNAS', Decimal('100.00')),
 ('AYTRE', Decimal('100.00')),
 ('BALLAN MIRE', Decimal('100.00')),
 ('BARRE-DE-MONTS (LA)', Decimal('100.00')),
 ('BARSAC', Decimal('100.00')),
 ('BEAUPREAU-EN-MAUGES', Decimal('100.00')),
 ('BEDOIN', Decimal('100.00')),
 ('BEUIL', Decimal('100.00')),
 ('BLAIN', Decimal('100.00')),
 ('BLANQUEFORT', Decimal('100.00')),
 ('BLAYE', Decimal('100.00')),
 ('BLOIS', Decimal('100.00')),
 ("BOISSY-L'AILLERIE", Decimal('100.00')),
 ('BONNEUIL-EN-FRANCE', Decimal('100.00')),
 ('CANEJAN', Decimal('100.00')),
 ('CARPENTRAS', Decimal('100.00')),
 ('CASTRIES', Decimal('100.00')),
 ('CAUTERETS', Decimal('100.00')),
 ('CHAMBRAY LES TOURS', Decimal('100.00')),
 ('CHAMPAGNOLE', Decimal('100.00')),
 ('CHAMPCUEIL', Decimal('100.00')),
 ('CHANTONNAY', Decimal('100.00')),
 ('CHARBONNIERES-LES-BAINS', Decimal('100.00')),
 ('CHARLEVILLE-MEZIERES', Decimal('100.00')),
 ('CHASSIEU', Decimal('100.00')),
 ('CHATEAU-ARNOUX-SAINT-AUBAN', Decimal('100.00')),
 ('CLAIX', Decimal('100.00')),
 ('CLARENSAC', Decimal('100.00')),
 ('CORBAS', Decimal('100.00')),
 ('CORBREUSE', Decimal('100.00')),
 ('COUBERT', Decimal('100.00')),
 ('CRECY LA CHAPELLE', Decimal('100.00')),
 ('CREPY EN VALOIS', Decimal('100.00')),
 ('DOL DE BRETAGNE', Decimal('100.00')),
 ('DOMENE', Decimal('100.00')),
 ('DOUBS', Decimal('100.00')),
 ('EMBRUN', Decimal('100.00')),
 ('ENNERY', Decimal('100.00')),
 ('EPERNON', Decimal('100.00')),
 ('ESPALY-SAINT-MARCEL', Decimal('100.00')),
 ('FAVERGES-SEYTHENEX', Decimal('100.00')),
 ('FENOUILLET', Decimal('100.00')),
 ('GALLARDON', Decimal('100.00')),
 ('GILETTE', Decimal('100.00')),
 ('GOURNAY-EN-BRAY', Decimal('100.00')),
 ('GRETZ-ARMAINVILLIERS', Decimal('100.00')),
 ('GUICHEN', Decimal('100.00')),
 ('GUIGNES', Decimal('100.00')),
 ('GUIGNEVILLE', Decimal('100.00')),
 ('GUINGAMP', Decimal('100.00')),
 ('LA BERNERIE EN RETZ', Decimal('100.00')),
 ('LA BUISSE', Decimal('100.00')),
 ('LA FERTE BERNARD', Decimal('100.00')),
 ('LA FERTE SOUS JOUARRE', Decimal('100.00')),
 ('LACROIX FALGARDE', Decimal('100.00')),
 ('LE PONTET', Decimal('100.00')),
 ('LE PUY EN VELAY', Decimal('100.00')),
 ('LEOGNAN', Decimal('100.00')),
 ('LEON', Decimal('100.00')),
 ('LES GETS', Decimal('100.00')),
 ('LESPARRE-MEDOC', Decimal('100.00')),
 ('LIANCOURT', Decimal('100.00')),
 ('LILLEBONNE', Decimal('100.00')),
 ('LISSES', Decimal('100.00')),
 ('MARCILLY-D AZERGUES', Decimal('100.00')),
 ('MARCY-L ETOILE', Decimal('100.00')),
 ('MARIN', Decimal('100.00')),
 ('MARMANDE', Decimal('100.00')),
 ('MARSILLARGUES', Decimal('100.00')),
 ('MARTIGNAS SUR JALLE', Decimal('100.00')),
 ('MATOURY', Decimal('100.00')),
 ('MAYENNE', Decimal('100.00')),
 ('MESNIL-ESNARD (LE)', Decimal('100.00')),
 ('MILHAUD', Decimal('100.00')),
 ('MINIAC-MORVAN', Decimal('100.00')),
 ('MITRY MORY', Decimal('100.00')),
 ('MOISSY-CRAMAYEL', Decimal('100.00')),
 ('MONFLANQUIN', Decimal('100.00')),
 ('MONNETIER-MORNEX', Decimal('100.00')),
 ('MONT SAINT MARTIN', Decimal('100.00')),
 ('MONTATAIRE', Decimal('100.00')),
 ('MONTIGNY EN GOHELLE', Decimal('100.00')),
 ('MORDELLES', Decimal('100.00')),
 ('NANCY', Decimal('100.00')),
 ('NANTEUIL LE HAUDOUIN', Decimal('100.00')),
 ('NEUFCHATEAU', Decimal('100.00')),
 ('PAILLET', Decimal('100.00')),
 ('PAIMBOEUF', Decimal('100.00')),
 ('PARAY LE MONIAL', Decimal('100.00')),
 ('PARTHENAY', Decimal('100.00')),
 ('PELUSSIN', Decimal('100.00')),
 ('PITHIVIERS', Decimal('100.00')),
 ('PLESSIS-BOUCHARD (LE)', Decimal('100.00')),
 ('POUSSAN', Decimal('100.00')),
 ('RISOUL', Decimal('100.00')),
 ('ROCHEFORT', Decimal('100.00')),
 ('ROUBAIX', Decimal('100.00')),
 ('ROUFFIAC TOLOSAN', Decimal('100.00')),
 ('RUPT-SUR-MOSELLE', Decimal('100.00')),
 ('SAIN-BEL', Decimal('100.00')),
 ('SAINT MEDARD EN JALLES', Decimal('100.00')),
 ('SAINT-ANDRE-DES-EAUX', Decimal('100.00')),
 ('SAINT-MARTIN-DE-BROMES', Decimal('100.00')),
 ('SAINT-MEMMIE', Decimal('100.00')),
 ('SAINT-NOM-LA-BRETECHE', Decimal('100.00')),
 ('SAINT-PATHUS', Decimal('100.00')),
 ('SAINT-PAUL-TROIS-CHATEAUX', Decimal('100.00')),
 ('SAINT-PHILIBERT', Decimal('100.00')),
 ('SAINT-PIERRE-DES-CORPS', Decimal('100.00')),
 ('SAINT-PRYVE-SAINT-MESMIN', Decimal('100.00')),
 ('SAINTE PAZANNE', Decimal('100.00')),
 ('SAMOIS SUR SEINE', Decimal('100.00')),
 ('SARAN', Decimal('100.00')),
 ('SAULX-LES-CHARTREUX', Decimal('100.00')),
 ('SECLIN', Decimal('100.00')),
 ('THYEZ', Decimal('100.00')),
 ('TOURNEFEUILLE', Decimal('100.00')),
 ('TRESSES', Decimal('100.00')),
 ('VAL-D ISERE', Decimal('100.00')),
 ('VALBONNE', Decimal('100.00')),
 ('VAUX-LE-PENIL', Decimal('100.00')),
 ('VERRIERES-EN-ANJOU', Decimal('100.00')),
 ('VIAS', Decimal('100.00')),
 ('VILLETANEUSE', Decimal('100.00')),
 ('VINAY', Decimal('100.00')),
 ('VINEUIL ST FIRMIN', Decimal('100.00')),
 ('MELUN', Decimal('95.00')),
 ('EVREUX', Decimal('90.90')),
 ('ST-HERBLAIN', Decimal('90.90')),
 ('MANTES-LA-JOLIE', Decimal('90.00')),
 ('CHERBOURG-EN-COTENTIN', Decimal('88.88')),
 ('GAGNY', Decimal('85.71')),
 ('NOISY-LE-GRAND', Decimal('85.71')),
 ('UZES', Decimal('85.71')),
 ('LA BAULE-ESCOUBLAC', Decimal('85.18')),
 ('BEAUVAIS', Decimal('84.61')),
 ('AIGUES-MORTES', Decimal('83.33')),
 ('CALUIRE ET CUIRE', Decimal('83.33')),
 ('COMBS LA VILLE', Decimal('83.33')),
 ('DEUIL LA BARRE', Decimal('83.33')),
 ('SAINT MAX', Decimal('83.33')),
 ('SAINT-PRIEST', Decimal('83.33')),
 ('TOURCOING', Decimal('81.81')),
 ('EYSINES', Decimal('80.00')),
 ('LA CHAPELLE ST LUC', Decimal('80.00')),
 ('PERROS-GUIREC', Decimal('80.00')),
 ('VALRAS-PLAGE', Decimal('80.00')),
 ('AUXERRE', Decimal('77.77')),
 ('BEAUMONT-SUR-OISE', Decimal('77.77')),
 ('LAVAL', Decimal('77.77')),
 ('ST GRATIEN', Decimal('77.77')),
 ('CLERMONT L HERAULT', Decimal('75.00')),
 ('ESSARTS-LE-ROI (LES)', Decimal('75.00')),
 ('MONTLHERY', Decimal('75.00')),
 ('SAINT-EGREVE', Decimal('75.00')),
 ('SANNOIS', Decimal('75.00')),
 ('TARARE', Decimal('75.00')),
 ('FRESNES', Decimal('73.91')),
 ('TROYES', Decimal('73.52')),
 ('RAMBOUILLET', Decimal('73.33')),
 ('BRIE COMTE ROBERT', Decimal('72.72')),
 ('ROMANS-SUR-ISERE', Decimal('72.72')),
 ('LES ULIS', Decimal('71.42')),
 ('LIEUSAINT', Decimal('71.42')),
 ('ROANNE', Decimal('71.42')),
 ('VILLEFRANCHE', Decimal('70.37')),
 ('BORMES-LES-MIMOSAS', Decimal('69.23')),
 ('LE HAVRE', Decimal('69.04')),
 ('ARGENTEUIL', Decimal('68.96')),
 ('CHALONS EN CHAMPAGNE', Decimal('68.18')),
 ('FRANCONVILLE LA GARENNE', Decimal('68.18')),
 ('SAINT-ETIENNE', Decimal('67.39')),
 ('BRIVE LA GAILLARDE', Decimal('66.66')),
 ('CHARTRES-DE-BRETAGNE', Decimal('66.66')),
 ('DINARD', Decimal('66.66')),
 ('LANESTER', Decimal('66.66')),
 ('LE CROISIC', Decimal('66.66')),
 ('LE MANS', Decimal('66.66')),
 ('LE VERDON SUR MER', Decimal('66.66')),
 ('ORGEVAL', Decimal('66.66')),
 ('PONTAULT COMBAULT', Decimal('66.66')),
 ('PONTIVY', Decimal('66.66')),
 ('SAINT-BRICE-SOUS-FORET', Decimal('66.66')),
 ('SAINT-PAUL', Decimal('66.66')),
 ('VAULX EN VELIN', Decimal('66.66')),
 ('VILLERS-COTTERETS', Decimal('66.66')),
 ('VILLIERS-LE-BEL', Decimal('66.66')),
 ('EPINAL', Decimal('64.70')),
 ("L'HAY-LES-ROSES", Decimal('62.50')),
 ('COMPIEGNE', Decimal('61.90')),
 ('NEUILLY-SUR-SEINE', Decimal('61.70')),
 ('CARQUEFOU', Decimal('60.00')),
 ('CERGY', Decimal('60.00')),
 ('GRIGNY', Decimal('60.00')),
 ('LE TEICH', Decimal('60.00')),
 ('YVETOT', Decimal('60.00')),
 ('HYERES', Decimal('59.09')),
 ('LYON 5EME', Decimal('58.33')),
 ('LE GRAU DU ROI', Decimal('56.75')),
 ('QUIBERON', Decimal('55.55')),
 ('CHILLY MAZARIN', Decimal('54.54')),
 ('ELANCOURT', Decimal('53.33')),
 ('ROSNY-SOUS-BOIS', Decimal('52.38')),
 ('NANTES', Decimal('51.26')),
 ('ANNECY', Decimal('50.00')),
 ('AUCAMVILLE', Decimal('50.00')),
 ('BOUGUENAIS', Decimal('50.00')),
 ('BRETIGNOLLES-SUR-MER', Decimal('50.00')),
 ('BRUGES', Decimal('50.00')),
 ('BRUNOY', Decimal('50.00')),
 ('CHAMBERY', Decimal('50.00')),
 ('CHANTELOUP EN BRIE', Decimal('50.00')),
 ('CHANTILLY', Decimal('50.00')),
 ('CHANTRAINE', Decimal('50.00')),
 ('CHEVREUSE', Decimal('50.00')),
 ('CLAYE-SOUILLY', Decimal('50.00')),
 ('CREON', Decimal('50.00')),
 ('DARDILLY', Decimal('50.00')),
 ('EGLY', Decimal('50.00')),
 ('FROGES', Decimal('50.00')),
 ('GUERET', Decimal('50.00')),
 ('GUIDEL', Decimal('50.00')),
 ('GUJAN MESTRAS', Decimal('50.00')),
 ('HAUBOURDIN', Decimal('50.00')),
 ('JARGEAU', Decimal('50.00')),
 ('LANDIVISIAU', Decimal('50.00')),
 ('LE PASSAGE', Decimal('50.00')),
 ('LES ALLUES', Decimal('50.00')),
 ('LOUVECIENNES', Decimal('50.00')),
 ('MARCQ EN BAROEUL', Decimal('50.00')),
 ('MARGNY LES COMPIEGNE', Decimal('50.00')),
 ('MARSEILLAN', Decimal('50.00')),
 ('MERIEL', Decimal('50.00')),
 ('MEZIERES-SUR-SEINE', Decimal('50.00')),
 ('MIMIZAN', Decimal('50.00')),
 ('MORTEAU', Decimal('50.00')),
 ('PAIMPOL', Decimal('50.00')),
 ('PALAVAS-LES-FLOTS', Decimal('50.00')),
 ('PERPIGNAN', Decimal('50.00')),
 ('PHALEMPIN', Decimal('50.00')),
 ('PORT-LOUIS', Decimal('50.00')),
 ('PUSSAY', Decimal('50.00')),
 ('QUINCIEUX', Decimal('50.00')),
 ('RIVES-EN-SEINE', Decimal('50.00')),
 ('SABLE SUR SARTHE', Decimal('50.00')),
 ('SAINT DENIS', Decimal('50.00')),
 ('SAINT-NAZAIRE', Decimal('50.00')),
 ('SAINT-PRIX', Decimal('50.00')),
 ('SATHONAY-CAMP', Decimal('50.00')),
 ('SAVIGNY-LE-TEMPLE', Decimal('50.00')),
 ('SEDAN', Decimal('50.00')),
 ('TULLINS', Decimal('50.00')),
 ('VAISON-LA-ROMAINE', Decimal('50.00')),
 ('ZONZA', Decimal('50.00')),
 ('LEVALLOIS-PERRET', Decimal('49.15')),
 ('AUBERVILLIERS', Decimal('48.00')),
 ('CLICHY', Decimal('47.72')),
 ('TOURS', Decimal('47.05')),
 ('PARIS 18', Decimal('46.88')),
 ('MEAUX', Decimal('46.87')),
 ('SAINT-MICHEL-SUR-ORGE', Decimal('46.15')),
 ('BRY-SUR-MARNE', Decimal('45.45')),
 ('CARCASSONNE', Decimal('45.45')),
 ('CHARTRES', Decimal('45.45')),
 ('PECQ (LE)', Decimal('45.45')),
 ('FONTENAY-SOUS-BOIS', Decimal('44.44')),
 ('SAINT-DENIS', Decimal('44.11')),
 ('LILLE', Decimal('43.28')),
 ('LESIGNY', Decimal('42.85')),
 ('MONTESSON', Decimal('42.85')),
 ('MONTMORENCY', Decimal('42.85')),
 ('SAINTE-GENEVIEVE-DES-BOIS', Decimal('42.85')),
 ('SAUMUR', Decimal('42.85')),
 ('TRANCHE-SUR-MER (LA)', Decimal('42.85')),
 ('PARIS 10', Decimal('42.20')),
 ('LA SEYNE SUR MER', Decimal('41.66')),
 ('LE PLESSIS-TREVISE', Decimal('41.66')),
 ('POISSY', Decimal('41.17')),
 ('TOULOUSE', Decimal('41.02')),
 ('CHOLET', Decimal('40.00')),
 ('LA FARLEDE', Decimal('40.00')),
 ('LA TURBALLE', Decimal('40.00')),
 ('LECCI', Decimal('40.00')),
 ('LINAS', Decimal('40.00')),
 ('MEGEVE', Decimal('40.00')),
 ('NOISIEL', Decimal('40.00')),
 ('SAINT-GILLES-CROIX-DE-VIE', Decimal('40.00')),
 ('ST SEBASTIEN SUR LOIRE', Decimal('40.00')),
 ('BREST', Decimal('39.28')),
 ('PARIS 16', Decimal('38.78')),
 ('PARIS 20', Decimal('38.58')),
 ('LYON 9EME', Decimal('38.46')),
 ('BOURGES', Decimal('38.09')),
 ('SAINT-MANDE', Decimal('37.93')),
 ('GENTILLY', Decimal('37.50')),
 ('LOGNES', Decimal('37.50')),
 ('ROCHE SUR YON (LA)', Decimal('37.50')),
 ('VANDOEUVRE LES NANCY', Decimal('37.50')),
 ('NOGENT-SUR-MARNE', Decimal('37.14')),
 ('VITRY-SUR-SEINE', Decimal('36.66')),
 ('EAUBONNE', Decimal('36.36')),
 ('LE PERREUX-SUR-MARNE', Decimal('36.36')),
 ('TASSIN-LA-DEMI-LUNE', Decimal('35.71')),
 ('LYON 1ER', Decimal('35.29')),
 ('ANDRESY', Decimal('33.33')),
 ('ARDON', Decimal('33.33')),
 ('AULT', Decimal('33.33')),
 ('AUTUN', Decimal('33.33')),
 ('BERCK', Decimal('33.33')),
 ('CASTELGINEST', Decimal('33.33')),
 ('CAYEUX-SUR-MER', Decimal('33.33')),
 ('CRAPONNE', Decimal('33.33')),
 ('EMERAINVILLE', Decimal('33.33')),
 ('ETANG-LA-VILLE (L )', Decimal('33.33')),
 ('FORT DE FRANCE', Decimal('33.33')),
 ('FRANCHEVILLE', Decimal('33.33')),
 ('LA MULATIERE', Decimal('33.33')),
 ('LA ROCHELLE', Decimal('33.33')),
 ('LE LAMENTIN', Decimal('33.33')),
 ('LIMAY', Decimal('33.33')),
 ('LONGJUMEAU', Decimal('33.33')),
 ('MANDRES-LES-ROSES', Decimal('33.33')),
 ('MAREIL-MARLY', Decimal('33.33')),
 ('MAUGUIO', Decimal('33.33')),
 ('MERS-LES-BAINS', Decimal('33.33')),
 ('NANDY', Decimal('33.33')),
 ('NIMES', Decimal('33.33')),
 ('NOISY LE ROI', Decimal('33.33')),
 ('PERSAN', Decimal('33.33')),
 ('PRINGY', Decimal('33.33')),
 ('SAINT THIBAULT DES VIGNES', Decimal('33.33')),
 ('SAINT-ETIENNE-DU-ROUVRAY', Decimal('33.33')),
 ('SASSENAGE', Decimal('33.33')),
 ('TROIS ILETS', Decimal('33.33')),
 ('VALS-LES-BAINS', Decimal('33.33')),
 ('VILLIERS-SUR-MARNE', Decimal('33.33')),
 ('PARIS 01', Decimal('32.35')),
 ('SAINT-MALO', Decimal('32.25')),
 ('HERBLAY-SUR-SEINE', Decimal('31.25')),
 ('PARIS 12', Decimal('30.90')),
 ('CORBEIL ESSONNES', Decimal('30.43')),
 ('PARIS 19', Decimal('30.17')),
 ('LYON 2EME', Decimal('30.00')),
 ('MONTMAGNY', Decimal('30.00')),
 ('MAISONS-ALFORT', Decimal('29.54')),
 ('BRON', Decimal('28.57')),
 ('DAMMARTIN-EN-GOELE', Decimal('28.57')),
 ('JOINVILLE-LE-PONT', Decimal('28.57')),
 ('LIMEIL-BREVANNES', Decimal('28.57')),
 ('VERNOUILLET', Decimal('28.57')),
 ('MENTON', Decimal('27.50')),
 ('LAON', Decimal('27.27')),
 ('NICE', Decimal('27.16')),
 ('SARCELLES', Decimal('26.66')),
 ('VILLEMOMBLE', Decimal('26.66')),
 ('PARIS 11', Decimal('26.62')),
 ('BATZ-SUR-MER', Decimal('25.00')),

8.  Différence en pourcentage du prix au mètre carré entre un appartement de 2 pièces et un appartement de 3 pièces

In [60]:
%%sql
 WITH PIECE2 AS 
(
  SELECT AVG(VALEUR/SURFACE_CARREZ) AS PRIXM2_2P
  FROM BIENIMMO B JOIN ADRESSE A ON ADRESSE_ID = A.ID
JOIN MUTATION ON B.ID = BIEN_ID
  WHERE TYPE_LOCAL = 'Appartement' AND N_PIECES = 2 ), PIECE3 AS (
  SELECT AVG(VALEUR/SURFACE_CARREZ) AS PRIXM2_3P
  FROM BIENIMMO B JOIN ADRESSE A ON ADRESSE_ID = A.ID
JOIN MUTATION ON B.ID = BIEN_ID
  WHERE TYPE_LOCAL = 'Appartement' AND N_PIECES = 3 )
  SELECT  ROUND(((PRIXM2_2P / PRIXM2_3P ) - 1) *100 ,2) AS "diff_%_2P_3P"
  FROM PIECE2, PIECE3;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(14.16,)]

9. Taux d’appartements qui ont été vendus à un prix du mètre carré deux fois plus élevé que le prix du mètre carré moyen du département:

In [69]:
%%sql

WITH avgprd  AS (
  SELECT CODE_DEP, AVG(valeur/surface_carrez) as mpd
  FROM BIENIMMO b JOIN ADRESSE a ON adresse_id = a.id
  JOIN mutation on bien_id = b.id
  GROUP BY CODE_DEP), prapp AS (SELECT b.ID, CODE_DEP, valeur/surface_carrez as pm2 
  FROM BIENIMMO b JOIN ADRESSE a ON adresse_id = a.id
  JOIN mutation on bien_id = b.id WHERE type_local = 'Appartement'),  app2x AS
  (SELECT COUNT(*) as count_app2x FROM prapp JOIN avgprd USING (code_dep) WHERE pm2 >= 2*mpd),
  totapp AS (SELECT COUNT (*) as totale FROM prapp )
  SELECT CAST(count_app2x / totale * 100 AS DECIMAL(5,2)) as taux_appartements_2pm FROM app2x, totapp;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('2.24'),)]

10. Moyennes valeurs foncieres pour les top 20 communes:

In [70]:
%%sql
 SELECT CAST(AVG(VALEUR) as INTEGER) as moyennevf, COMMUNE FROM MUTATION m, BIENIMMO b, ADRESSE a
 WHERE bien_id = b.id AND adresse_id = a.id
 AND VALEUR IS NOT NULL
 GROUP BY COMMUNE
 ORDER BY moyennevf DESC
 LIMIT 10;

 * ibm_db_sa://xhz26615:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(1683000, 'GARRIGUES SAINTE EULALIE'),
 (1400000, 'LES PORTES-EN-RE'),
 (1280000, 'VERNEUIL EN HALATTE'),
 (1251288, 'PARIS 07'),
 (1028243, 'PARIS 16'),
 (1013503, 'PARIS 01'),
 (1010536, 'PARIS 08'),
 (1005955, 'PARIS 06'),
 (968750, 'SAINT-JEAN-CAP-FERRAT'),
 (880000, 'VAL-D ISERE')]